<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	 <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
		
		
		<httpRedirect enabled="false" destination="http://www.icarefurnishers.com/index.php" exactDestination="false" childOnly="true" httpResponseStatus="Permanent" />
        <handlers>
            <add name="PHP FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.3\php-cgi.exe" resourceType="File" />
        </handlers>
		<rewrite>
            <rules>
                <clear />
                   <rule name="WordPress Rule 1" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="WordPress Rule 2" stopProcessing="true">
                    <match url="^wp-admin$" ignoreCase="false" />
                    <action type="Redirect" url="wp-admin/" redirectType="Permanent" />
                </rule>
                <rule name="WordPress Rule 3" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="WordPress Rule 4" stopProcessing="true">
                    <match url="^(wp-(content|admin|includes).*)" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="WordPress Rule 5" stopProcessing="true">
                    <match url="^([_0-9a-zA-Z-]+/)?(.*\.php)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:2}" />
                </rule>
                <rule name="WordPress Rule 6" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
               <rule name="Redirect-AllWWW-ToSecureNonWWW">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(?:www\.)(.+)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:0}"/>
                </rule>
                <rule name="Redirect-AllNonSecure-ToSecureNonWWW-ExcludingLocalhost">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^icarefurnishers$" negate="true" />
                        <add input="{HTTPS}" pattern="^off$" />
                        <add input="{HTTP_HOST}" pattern="^(?:www\.)?(.+)" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:0}" />
                </rule>
				
            </rules>
            <outboundRules>
                <clear />
            </outboundRules>
        </rewrite>
		<staticContent>
				<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
		</staticContent>
    </system.webServer>
	
</configuration>
